@page
@model BlogModel
@{
    ViewData["Title"] = "Blog";
}
@section Head {
    <style>
        .post-entry-1 {
            transition: transform 0.3s ease-in-out;
        }
        .post-entry-1:hover {
            transform: translateY(-10px);
        }
    </style>
}

<div class="hero inner-page" style="background-image: url('images/hero_1_a.jpg');">

    <div class="container">
        <div class="row align-items-end ">
            <div class="col-lg-5">

                <div class="intro">
                    <h1><strong>Blogs</strong></h1>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="post-entry-1 h-100">
                    @*  <a href="single.html"> *@
                        <img src="images/post_1.jpg" alt="Image" class="img-fluid">
                    @* </a> *@
                    <div class="post-entry-1-contents">
                    <h2>La meilleure location de voiture de toute la planète</h2>
                        <span class="meta d-inline-block mb-3text-center text-black pl-4"> - 09/12/2024</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="post-entry-1 h-100">
                    @* <a href="single.html"> *@
                        <img src="images/img_2.jpg" alt="Image" class="img-fluid">
                    @* </a> *@
                    <div class="post-entry-1-contents">
                        <h2>The best car rent in the entire planet</h2>
                        <span class="meta d-inline-block mb-3text-center text-black pl-4"> - 04/04/2023</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="post-entry-1 h-100">
                    @* <a href="single.html"> *@
                        <img src="images/img_3.jpg" alt="Image" class="img-fluid">
                    @* </a> *@
                    <div class="post-entry-1-contents">
                        <h2>The best car rent in the entire planet</h2>
                        <span class="meta d-inline-block mb-3text-center text-black pl-4"> - 10/03/2023</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="post-entry-1 h-100">
                    @* <a href="single.html"> *@
                        <img src="images/img_3.jpg" alt="Image" class="img-fluid">
                    @* </a> *@
                    <div class="post-entry-1-contents">
                        <h2>The best car rent in the entire planet</h2>
                        <span class="meta d-inline-block mb-3text-center text-black pl-4"> - 01/01/2021</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="post-entry-1 h-100">
                    @* <a href="single.html"> *@
                        <img src="images/img_2.jpg" alt="Image" class="img-fluid">
                    @* </a> *@
                    <div class="post-entry-1-contents">
                    <h2>La meilleure location de voiture de toute la planète</h2>
                        <span class="meta d-inline-block mb-3text-center text-black pl-4"> - 20/07/2019</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="post-entry-1 h-100">
                    @* <a href="single.html"> *@
                        <img src="images/post_1.jpg" alt="Image" class="img-fluid">
                    @* </a> *@
                    <div class="post-entry-1-contents">
                        <h2>The best car rent in the entire planet</h2>
                        <span class="meta d-inline-block mb-3text-center text-black pl-4"> - 17/06/2019</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
                    </div>
                </div>
            </div>

        </div>

@*             <div class="row">
            <div class="col-5">
                <div class="custom-pagination">
                    <a href="#">1</a>
                    <span>2</span>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                </div>
            </div>
        </div> *@

    </div>
</div>
