@page
@model RPtest.Pages.ListeVillesModel
@{
	Layout = "Dashboard";
	ViewData["Title"] = "Villes";
}

<div class="container mt-4">

    <div class="row mb-4">
        <div class="col-12">
            <h2>Villes</h2>
        </div>
    </div>

    <p>
        <a asp-page="/AddVille" class="btn btn-success"> + Ajouter une ville</a>
    </p>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Ville</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ville in Model.Villes)
            {
                <tr>
                    <td>@ville.Nom</td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@ville.Id" class="btn btn-primary">Modifier</a>
                        <form method="post" asp-page-handler="Delete" asp-route-id="@ville.Id" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

