@page
@model RPtest.Pages.MainBoardModel
@{
	Layout = "Dashboard";
}

<div class="row">
    <div class="col-md-4">
        <div class="card bg-primary text-white p-3">
            <h5>Véhicules Réservé</h5>
            <p>45</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-success text-white p-3">
            <h5>Revenue du Mois</h5>
            <p>12 345 DH</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-warning text-dark p-3">
            <h5>Commandes Annulées du Mois</h5>
            <p>3</p>
        </div>
    </div>
</div>
